services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    # ports:
    #   - "3000:3000"
    environment:
      - DATABASE_URL
    depends_on:
      - db
    volumes:
      - ./server/prisma:/app/prisma

  db:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    # ports:
    #   - "80:80"
    depends_on:
      - server

volumes:
  postgres_data:
