services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    # ports:
    #   - "3000:3000"
    environment:
      - DATABASE_URL
    depends_on:
      - db
    volumes:
      - ./server/prisma:/app/prisma
      - blog_uploads:/app/uploads

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - postgres_data:/var/lib/postgresql

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    # ports:
    #   - "80:80"
    depends_on:
      - server

volumes:
  postgres_data:
  blog_uploads:
